@import url("https://fonts.googleapis.com/css2?family=Poppins&display=swap");

:root {
  --blue: #79e0ee;
  --mint: #98eecc;
  --sage: #d0f5be;
  --yellow: #fbffdc;
  --green: #004028;
  --light-green: #eaf5ed;
  --white: #ffffff;
}

body {
  margin: 0;
  padding: 50px;
  display: flex;
  justify-content: center;
  min-width: 320px;
  min-height: 100vh;
  background-color: var(--white);
  color: var(--green);
  font-family: "Poppins", sans-serif;
  font-weight: 400;
  font-style: normal;
}

header {
  display: flex;
  flex-direction: column;
  align-items: center;
  margin: 0 0 40px;
  & h1 {
    line-height: 1.2;
    text-align: center;
  }
}

header button,
section button {
  background-color: var(--yellow);
  color: var(--green);
  cursor: pointer;
  border: 1px solid var(--green);
  font-family: "Poppins", sans-serif;
  font-weight: 400;
  font-style: normal;
  padding: 8px 16px;
  transition: border 0.1s ease;
}

.Patterns {
  display: grid;
  grid-template-columns: repeat(auto-fill, minmax(320px, 1fr));
  gap: 20px;
  & section {
    border: 1px dashed var(--light-green);
    padding: 24px;
    & h2 {
      margin: 0;
    }
  }
  & div {
    display: flex;
    flex-direction: column;
    align-items: center;
    gap: 16px;
    background-color: var(--light-green);
    border-radius: 8px;
    padding: 16px;
    & p,
    & ul {
      margin: 0;
      padding: 0;
    }
  }
  & div:not(:last-child) {
    margin-bottom: 16px;
  }
  & img {
    border-radius: 5px;
    object-fit: cover;
  }
}

footer p {
  text-align: center;
  margin: 40px 0 0;
  display: flex;
  flex-direction: column;
  align-self: flex-end;
}
